<div [ngClass]="{'bgclr':true,'brdr':true}">
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.

</div>

<div [ngClass]="{'bgclr':false,'brdr':true}">
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    
</div>
<div [ngClass]="{'bgclr':true,'brdr':false}">
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    The elements are not hidden but removed from the DOM.
    
</div>
