<div>
    <h4>Reactive Driven From </h4>
    <h3>
        <form [formGroup]="student">
            FIRST Name :<input type="text" formControlName="firstname"><br>
            LASt Name :<input type="text" formControlName="lastname"><br>
            USER AGE :<input type="text" formControlName="age"><br>
            <br>
            <input type="submit" value="REGISTER" class="btn btn-success" [disabled]="student.invalid">

            <input type="reset" value="RESET" class="btn btn-danger">
        </form>
    </h3>
</div>