

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SimplyLearn</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="dept">Department<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="dept/it">IT Department</a></li>
            <li><a routerLink="dept/test">Testing</a></li>
            <li><a routerLink="dept/deployment">Deployment</a></li>
          </ul>
        </li>
        <li><a routerLink="galary">Galary</a></li>
        <li><a routerLink="binding">Data Binding</a></li>
        <li><a routerLink="dir">Directive</a></li>
        <li><a routerLink="pipe">Pipe Demo</a></li>
        <li><a routerLink="forms">Forms </a></li>
        <li><a routerLink="serv">Service </a></li>
        <li><a routerLink="chat">Chat App </a></li>
        <li><a routerLink="backend">BackEnd Integration </a></li>
        
        

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>


